<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
<h1>{{pageTitle}}</h1>
<p>Some text here</p>
<footer>
<p>Copyright {{currentYear}}</p>
</footer>
  </body>
</html>
