<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>{{wellMsg}}</h1>
    <footer><p>Copyright {{currentYear}}</p></footer>
  </body>
</html>
